<div id="logo"></div>

<div id="intro">
	Lancewave is a design company.<br />
	We worked with the Melcher and URegina CTL to relaunch a faster and more comprehensive version of this Node.JS backed platform which delivers realtime Web Applications to the MASS.
</div>

<div id="recruitment">
招聘启事： 朗维现在需要一名Web开发程序员。<br />
公司简介：朗维负责开发加拿大为主，广州为副的，面向北美客户的Web项目。<br />
地点：广州<br />
职位介绍：<br />
<ul>
<li>使用Linux命令行工具远程维护服务器</li>
<li>为RadiantCMS开发Ruby on Rails插件</li>
<li>使用NodeJS及HTML5技术实现客户要求</li>
<li>使用C/C++依照Pesudo Cod文档实现学术性项目</li>
<li>愿意以计算机科学作为学术发展方向</li>
<li>弹性工作时间</li>
<li>薪酬及福利根据能力上涨</li>
</ul>
必要能力：<br />
<ul>
<li>熟悉Linux命令行操作</li>
<li>熟悉HTML, Javascript</li>
<li>熟悉PHP,Ruby等动态语言, C++等静态语言及SQL等数据库系统</li>
<li>熟悉面对对象程序设计</li>
<li>熟悉First Level Function特性</li>
</ul>
加分条件（不要求满足，但有的话更好）：<br />
<ul>
<li>思想开放，热爱开源，喜爱看国外技术网站</li>
<li>会熟练使用vi、emacs或者textmate</li>
<li>在github上面托管了自己的开源代码</li>
<li>英语能力及数学能力高者优先考虑</li>
</ul>

</div>
