<div id="logo"></div>

<div id="intro">
	Lancewave is a design company.<br />
	We worked with the Melcher and URegina CTL to relaunch a faster and more comprehensive version of this Node.JS backed platform which delivers realtime Web Applications to the MASS.
</div>

<div id="recruitment">
招聘启事： 朗维现在需要一名Web开发程序员。<br />
职位要求：<br />
<ul>
<li>使用Linux命令行工具远程维护服务器</li>
<li>为RadiantCMS开发Ruby on Rails插件</li>
<li>使用NodeJS及HTML5技术实现客户要求</li>
<li>使用C/C++依照Pesudo Cod文档实现学术性项目</li>
</ul>
能力要求：<br />
<ul>
<li>熟悉Linux命令行操作</li>
<li>熟悉HTML, Javascript</li>
<li>熟悉PHP,Ruby等动态语言, 及C++等静态语言</li>
<li>熟悉面对对象程序设计</li>
<li>熟悉First Level Function特性</li>
<li>英语能力及数学能力高者优先考虑</li>
</ul>
</div>
