<div id="logo"></div>

<div id="intro">
	Lancewave is a design company.<br />
	We worked with the Melcher and URegina CTL to relaunch a faster and more comprehensive version of this Node.JS backed platform which delivers realtime Web Applications to the MASS.
</div>
</div>
