html
{
	margin: 0 auto;
	background-image: url('/images/body.png');
}

body
{
	color: #ccc;
	font-style: italic;
	font-family: Georgia;
	margin: 0 auto;
	background-image: url('/images/body_2.png');
}

.wrapper
{
	margin: 0 auto;	
	width: 933px;
	min-height: 600px;
}

.header
{
	margin: 0 auto;
	background-image: url('/images/header.png');
	background-repeat: no-repeat;
	width: 723px;
	height: 316px;
}

.top_nav
{
	text-align: center;
	background-image: url('/images/hr.png');
	background-repeat: no-repeat;
	background-position: bottom;
	padding-top: 10px;
	height: 40px;
}

.footer
{
	margin: 0 auto;
        margin-top: -200px;
	background-image: url('/images/footer.png');
	background-repeat: no-repeat;
	width:723px;
	min-height: 66px;
	padding-top: 250px;
}

.footer_info
{
	font-size: 11px;
	text-align: center;
	color: #ccc;	
	background-image: url('/images/hr.png');
	background-repeat: no-repeat;
	background-position:top;
	padding-top: 10px;
	height: 60px;
}

.main
{
        background-image: url('/images/yaad_main.png');
        background-repeat: no-repeat;
	margin: 0 auto;	
	margin-top: -200px;
        min-height: 550px;
        padding: 10px 20px;
        padding-left: 50px;
}

#text2, #text1, #text3, #text4, #text5, #text6
{
	display: none;
	color: white;
	font-size: 35px;
	background-image: url('/images/welcome_frame.png');
	background-repeat: no-repeat;
	margin-left: 177px;
	margin-top:  37px;
	padding-top: 79px;
	padding-left: 158px;
	padding-right: 30px;
	width: 791px;
	height: 366px;
	position: absolute;
}

.logo
{
	/*background-image: url('/images/logo.png');*/
	background-repeat: no-repeat;
	height: 133px;
	width: 134px;
	margin-left: -124px;
	margin-top: 0px;
	z-index: 1;
	position: absolute;
}

.menu
{
	padding-top: 55px;
	padding-left: 125px;
}

.showcase
{
background-image: url('/images/yaad_showcase.png');
background-repeat: no-repeat;
width: 164px;
height: 164px;
}

.showcase:hover
{
background-image: url('/images/yaad_showcase_h.png');
}

.about
{
background-image: url('/images/yaad_about.png');
background-repeat: no-repeat;
width: 164px;
height: 164px;
}

.about:hover
{
background-image: url('/images/yaad_about_h.png');
}

.service
{
background-image: url('/images/yaad_service.png');
background-repeat: no-repeat;
width: 164px;
height: 164px;
}

.service:hover
{
background-image: url('/images/yaad_service_h.png');
}

.menu ul { padding:0px; margin:0px;}

.menu ul li { display:inline; list-style-type:none;}

.menu li{ width: 200px}

.menu a{
	display:inline-block;;
	width: 220px
}

.menu ul li a 
{ 
color:#555; 
text-decoration:none; 
font-style:italic; 
font-weight:bold; 
padding-right: 15px;
height: auto;
width:	220px;
}

.menu ul li a:hover 
{ 
color:#ddd;
height: auto;
width:	220px;
}
.menu ul li a.selected 
{
color:#619518;
}

img
{

border-bottom-style: none;
border: 0px;	
}

.top_menu{
	width: auto;
	font-size: 90%;
	line-height: normal;
}
.top_menu ul{
	display: inline;
	margin: 0;
	padding: 0;
	list-style:none;
}
.top_menu li{
	display: inline;
	margin: 0;
	padding: 0 2px;
}

.top_menu a{
	color: #ccc;
	text-decoration: none;
}

.top_menu a:hover{
	color: #555;
	text-decoration: none;
}

.foot_menu{
	width: auto;
	font-size: 90%;
	line-height: normal;
}
.foot_menu ul{
	display: inline;
	margin: 0;
	padding: 0;
	list-style:none;
}
.foot_menu li{
	display: inline;
	margin: 0;
	padding: 0 2px;
}

.foot_menu a{
	font-size: 12px;
	color: #ccc;
	text-decoration: none;
}

.foot_menu a:hover{
	color: #000;
	text-decoration: none;
}


